<div class="col-xs-6 col-sm-3">
  <ul id="doctor_menu" class="nav nav-pills nav-stacked" role="tablist">

    <li role="presentation" class="<%= "active" if(menu==@MENU_OPTIONS[:last_updates]) %>">
      <%= link_to current_course do %>
        <%= content_tag(:span, "", class: "fa fa-newspaper-o") %>
        <%= "Ultimas Noticias" %>
      <% end %>
    </li>

    <li role="presentation" class="<%= "active" if(menu==@MENU_OPTIONS[:documents]) %>">
      <%= link_to documents_path do %>
        <%= content_tag(:span, "", class: "fa fa-book fa-fw") %>
        <%= "Material disponível" %>
      <% end %>
    </li>

    <li role="presentation" class="<%= "active" if(menu==@MENU_OPTIONS[:videos]) %>">
      <%= link_to videos_path do %>
        <%= content_tag(:span, "", class: "fa fa-youtube-play fa-fw") %>
        <%= "Vídeos" %>
      <% end %>
    </li>

    <li role="presentation" class="<%= "active" if(menu==@MENU_OPTIONS[:questions]) %>">
      <%= link_to questions_path do %>
        <%= content_tag(:span, "", class: "fa fa-university") %>
        <%= "Banco de Questões" %>
      <% end %>
    </li>

    <li role="presentation" class="<%= "active" if(menu==@MENU_OPTIONS[:students]) %>">
      <%= link_to controller: "courses", action: "enrolled_students"  do %>
        <%= content_tag(:span, "", class: "fa fa-users") %>
        <%= "Alunos" %>
      <% end %>
    </li>
  </ul>
</div>
