<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><%= link_to "Ultimas Noticias", "#" %></li>
  <li role="presentation"><%= link_to "Material Disponivel", "#" %></li>
  <li role="presentation"><%= link_to "Banco de Questões", "#" %></li>
  <li role="presentation"><%= link_to "Videos", "#" %></li>
  <li role="presentation"><%= link_to "Alunos", "#" %></li>
</ul>
