<!DOCTYPE HTML>
<html>
  <%= form_for(:session, url: sessions_path) do |f| %>
    
    <%= f.label :login %>
    <%= f.text_field :login, class: "input-group" %>

    <%= f.label :senha %>
    <%= f.password_field :password %>

    <div class="right"><%= f.submit "Entrar", class: "btn btn-medium btn-primary" %> </div>
  <% end %>

</html>
