
<%= render partial: "courses/doctors/menu", locals: { menu: @MENU_OPTIONS[:documents] } %>

<div class="col-xs-6 col-sm-9">
  <%= link_to(new_document_path, class: "btn btn-default") do %>
    <%= content_tag(:span, "", class: "fa fa-plus") %>
    <%= "Adicionar novo Documento" %>
  <% end %>

  <br><br>

  <%= "Documentos Disponíveis" %>

  <br><br>
  <div>
    <ul class="fa-ul list-group">
      <% @documents.all.each do |doc| %>
        <li class="list-group-item">
          <%= image_tag doc.document.url(:small) %>
          <%= link_to doc.get_readable_name, doc.document.url, target: "_blank" %>
          <%= link_to content_tag(:span, "", class: "fa fa-trash-o"), doc, method:"delete" , data: { confirm: "Tem certeza que deseja excluir permanentemente este documento? \nEssa ação não poderá ser desfeita." } %>
        </li>
        <br>
      <% end %>
    </ul>
  </div>
</div>
