<div class="navbar navbar-inverse" role="navigation">
  <div class="container container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to "Ultimas Noticias", "#" %></li>
      <li><%= link_to "Material disponivel", "#" %></li>
      <li><%= link_to "Banco de Questões", "#" %></li>
      <li><%= link_to "Videos", "#" %></li>
      <li><%= link_to "Alunos", "#" %></li>
    </ul>
  </div>
</div>
