<table class="table table-bordered table-striped">
  <tr class=>
    <th><%= "Curso" %></th>
    <th><%= "Carga Horária" %></th>
    <th><%= "Matricule-se" %></th>
  </tr>

  <% @courses.each do |course| %>
    <tr >
      <td class="col-md-11">
        <%= link_to course.name, course %>
      </td>

      <td>
        <%= course.workload.to_s %>
      </td>

      <td>
        <%= link_to "+", join_path(course), method: :post %>
    <% end %>
    </tr>
</table>
