<div class="row">
  <div class="col-xs-6 col-sm-3">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation" class="active">
        <%= link_to "#" do %>
          <%= content_tag(:span, "", class: "fa fa-book fa-fw") %>
          <%= "Material de apoio" %>
        <% end %>
      </li>
      <li role="presentation">
        <%= link_to "#" do %>
          <%= content_tag(:span, "", class: "fa fa-youtube-play fa-fw") %>
          <%= "Vídeos" %>
        <% end %>
     </li>
       <li role="presentation">
        <%= link_to "#" do %>
          <%= content_tag(:span, "", class: "fa fa-university fa-fw") %>
          <%= "Fazer Prova" %>
        <% end %>
     </li>
   </ul>
  </div>

  <div class="col-xs-6 col-sm-9">
  </div>

