<table class="table table-bordered table-striped">
  <tr>
    <th><%= "Status" %></th>
    <th><%= "Nome" %></th>
    <th><%= "Tipo" %></th>
    <th><%= "Mudar Status" %></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td>
        <% if(user.activated?) %>
          <span class="fa fa-check-circle-o"></span>
          <%= user.activated_at.to_formatted_s(:rfc822) %>
        <% else %>
          <span class="fa fa-minus-circle"></span>
        <% end %>
      </td>

      <td>
        <%= link_to user.name, user %>
      </td>

      <td>
        <%= "#{user.type}" %>
      </td>

      <% if(current_user.admin? and !current_user?(user)) %>
        <td>
          <% if(user.activated?) %>
            <%= link_to "Desativar!", deactivate_path(user) , data: { confirm: "Tem certeza?" } %>
          <% else %>
            <%= link_to "Ativar!", activate_path(user) , data: { confirm: "Tem certeza?" } %>
          <% end %>
        </td>

        <td>
          <%= link_to content_tag(:span, "", class: "fa fa-trash"), user, method:"delete" , data: { confirm: "Tem certeza que deseja excluir permanentemente esse usuário? \nEssa ação não poderá ser desfeita." } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
