<div class="row">
  <div class="col-lg-offset-3 col-sm-6 col-md-6">
    <%= form_for(@user) do |f| %>

      <%= render "errors" %>

      <%= f.label :name,"Nome Completo", class: "required" %>
      <%= f.text_field :name, placeholder:"Ex.: Fulano de Tal", class: "required", class: "form-control input-lg" %>

      <%= f.label :email, class: "required" %>
      <%= f.text_field :email, placeholder:"Ex.: fulano@detal.com", class: "required", class: "form-control input-lg"  %>

      <%= f.label :cpf, "CPF",  class: "required" %>
      <%= f.text_field :cpf, placeholder:"Ex.: 000.000.000-00", class: "required" , class: "form-control input-lg", maxlength: 11 %>

      <%= f.label :rg, "RG", class: "required" %>
      <%= f.text_field :rg, placeholder:"Ex.: 0000000", class: "required",class: "form-control input-lg", maxlength: 11 %>

      <%= f.label :issuing_agency, "Orgao Emissor", class: "required" %>
      <%= f.text_field :issuing_agency, placeholder: "Ex.: SSPDF", class: "required", class: "form-control input-lg", maxlength: 11 %>
  
      <%= f.label :phone1, "Telefone", class: "required" %>
      <%= f.text_field :phone1, placeholder:"Ex.: (11)4007-1134", class: "required",class: "form-control input-lg", maxlength: 11 %>

      <%= f.label :phone2, "Telefone Alternativo" %>
      <%= f.text_field :phone2, placeholder: "Ex.: (11)4007-1134", class: "required" , class: "form-control input-lg",maxlength: 11 %>

      <%= f.label :zip_code, "CEP", class: "required" %>
      <%= f.text_field :zip_code, placeholder: "Ex.: 13280-000", class: "required", class: "form-control input-lg", maxlength: 8  %>

      <%= f.label :street, "Logradouro" %>
      <%= f.text_field :street, disabled: true, placeholder: "Ex.: Rodovia dos Bandeirantes", class: "required", class: "form-control input-lg" %>

      <%= f.label :number, "Numero" %>
      <%= f.text_field :number, maxlength: 7, placeholder: "Ex.: 1234 (Se não tiver coloque 0)", class: "required", class: "form-control input-lg" %>

      <%= f.label :district, "Bairro" %>
      <%= f.text_field :district, disabled: true , placeholder: "Ex.: Moinho", class: "required", class: "form-control input-lg" %>

      <%= f.label :city, "Cidade" %>
      <%= f.text_field :city, disabled: true , placeholder: "Ex.: Vinhedo", class: "required", class: "form-control input-lg" %>

      <%= f.label :state, "Estado" %>
      <%= f.text_field :state, maxlength: 3, disabled: true , placeholder: "Ex.: SP", class: "required", class: "form-control input-lg" %>

      <div class="center">
        <%= f.submit "Finalizar", class: "btn btn-default btn-medium btn-primary" %>
        <%= link_to "Cancelar", root_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
