<div class="row">
    <div class="center-block">
    <%= form_for(@user) do |f| %>

      <%= render partial: "shared/errors", locals: { object: @user } %>

      <%= content_tag :div, f.label(:name,"Nome Completo", class: "col-md-2 required") %>
      <%= content_tag :div, f.text_field(:name, placeholder:"Ex.: Fulano de Tal", class: "form-control input-lg"), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:email, class: "col-md-2 required") %>
      <%= content_tag :div, f.text_field(:email, placeholder:"Ex.: fulano@detal.com", class: "form-control input-lg"), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:cpf, "CPF",  class: "col-md-2 required") %>
      <%= content_tag :div, f.text_field(:cpf, placeholder:"Ex.: 000.000.000-00", class: "form-control input-lg", maxlength: 11), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:rg, "RG", class: "col-md-2 required") %>
      <%= content_tag :div, f.text_field(:rg, placeholder:"Ex.: 0000000", class: "form-control input-lg", maxlength: 11), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:issuing_agency, "Orgao Emissor", class: "col-md-2 required") %>
      <%= content_tag :div, f.text_field(:issuing_agency, placeholder: "Ex.: SSPDF", class: "form-control input-lg", maxlength: 11), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:phone1, "Telefone", class: "col-md-2 required") %>
      <%= content_tag :div, f.text_field(:phone1, placeholder:"Ex.: (11)4007-1134", class: "form-control input-lg", maxlength: 11), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:phone2, "Telefone Alternativo", class: "col-md-2") %>
      <%= content_tag :div, f.text_field(:phone2, placeholder: "Ex.: (11)4007-1134", class: "form-control input-lg",maxlength: 11), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:zip_code, "CEP", class: "col-md-2 required") %>
      <%= content_tag :div, f.text_field(:zip_code, placeholder: "Ex.: 13280-000", class: "form-control input-lg", maxlength: 8), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:street, "Logradouro" , class: "col-md-2") %>
      <%= content_tag :div, f.text_field(:street, disabled: true, placeholder: "Ex.: Rodovia dos Bandeirantes", class: "form-control input-lg"), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:number, "Numero" , class: "col-md-2") %>
      <%= content_tag :div, f.text_field(:number, maxlength: 7, placeholder: "Ex.: 1234 (Se não tiver coloque 0)", class: "form-control input-lg"), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:complement, "Complemento" , class: "col-md-2") %>
      <%= content_tag :div, f.text_field(:complement, placeholder: "Ex.: Km. 75", class: "form-control input-lg"), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:district, "Bairro" , class: "col-md-2") %>
      <%= content_tag :div, f.text_field(:district, disabled: true , placeholder: "Ex.: Moinho", class: "form-control input-lg"), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:city, "Cidade" , class: "col-md-2") %>
      <%= content_tag :div, f.text_field(:city, disabled: true , placeholder: "Ex.: Vinhedo", class: "form-control input-lg"), class: "col-md-9 " %>

      <%= content_tag :div, f.label(:state, "Estado" , class: "col-md-2") %>
      <%= content_tag :div, f.text_field(:state, maxlength: 3, disabled: true , placeholder: "Ex.: SP", class: "form-control input-lg"), class: "col-md-9 " %>

      <%= content_tag :div, "" , class: "col-md-2" %>

      <div class="btn-group">
        <%= f.submit("Finalizar", class: "btn btn-primary") %>
        <%= link_to("Cancelar", root_path, class: "btn btn-primary")%>
      </div>
    <% end %>
  </div>
</div>
