<h1> Alterar Login </h1>

<div class="row">
  <div class="col-lg-offset-3 col-sm-6 col-md-6">
      <%= form_for(@user, url: update_login_path) do |f| %>

        <%= render partial: "shared/errors", locals: { object: @user } %>

        <%= f.label :login, "Alterar Login ", class: "required" %>
        <%= f.text_field :login , class: "input-group form-control input-lg"%>

        <%= f.label :current_password, "Senha atual", class: "required" %>
        <%= f.password_field :current_password, class: "input-group form-control input-lg" %>

        <%= f.label :password, "Nova Senha ", class: "required" %>
        <%= f.password_field :password, class: "input-group form-control input-lg" %>

        <%= f.label :password_confirmation, "Confirmar Nova Senha ", class: "required" %>
        <%= f.password_field :password_confirmation, class: "input-group form-control input-lg" %>
        <br>
        <%= f.submit "Confirmar", class: "btn btn-primary btn-lg btn-block" %>
        <%= link_to "Cancelar", @user, class: "btn btn-primary btn-lg btn-block" %>

      <% end %>
  </div>
</div>
