<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
      <h1> Painel de Controle </h1>
      <h3>Ative ou desative um usuário.</h3>
      <div class="input-group col-lg-11">
        <%= form_tag(all_users_path, method: "get") do %>
          <%= text_field_tag "search", "", {class: "form-control", placeholder: "Digite uma parte do nome desejado"} %>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="fa fa-search"></span>
            </button>
          </span>
          <% end %>
        </div><!-- /input-group -->
       <br />

       <%= render "users/index" %>

       <%= "Legenda: " %>
       <table>
        <tr>
          <td><span class="fa fa-check-circle-o"></span></td>
            <br>
          <td><%= " Ativado" %></td>
        </tr>
        <tr>
        <tr>
          <td><span class="fa fa-minus-circle"></span></td>
          <td><%= " Desativado" %></td>
        </tr>
        <tr>
          <td><span class="fa fa-search"></span></td>
          <td><%= " Excluir" %></td>
        </tr>

      </table>

 </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

