<!DOCTYPE html>
<html lang="en">
<head>
<h1> Criar Novo Usuário </h1>

<div class="row">
  <div class="col-lg-offset-3 col-sm-6 col-md-6">
    <%= form_for(@user) do |f| %>

      <%= render "errors" %>
     
    <% end %>
  </div>
</div>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registro </title>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/local.css" />


    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>   

      <style>

    div {
            padding-bottom:20px;
        }

    </style>
</head>
<body>
    <%= form_for(@user) do |f| %>
       <div>
        
        <div>
            <label for="name" class="col-md-2">
                Nome completo:
            </label>
            <div class="col-md-9">
                 <%= f.text_field :name, placeholder:"Nome Completo",
                class: "required", class: "form-control input-lg" %>
            </div>
            <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>        
        <div>
            <label for="email" class="col-md-2">
                Email:
            </label>
            <div class="col-md-9">
                <%= f.text_field :email, placeholder:"Email", 
                 class: "required", class: "form-control input-lg"  %>
                  <p class="help-block">
                    exemplo@exemplo.com
                </p>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="cpf" class="col-md-2">
                CPF:
            </label>
            <div class="col-md-9">
               <%= f.text_field :cpf, placeholder:"CPF",  
               class: "required" , class: "form-control input-lg", maxlength: 11 %>
               <p class="help-block">
                    exemplo: 00000000000
                </p>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="rg" class="col-md-2">
                RG:
            </label>
            <div class="col-md-9">
               <%= f.text_field :rg, placeholder:"RG",
               class: "required",class: "form-control input-lg", maxlength: 11 %>
               <p class="help-block">
                    exemplo: 000000000
                </p>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>
        <div>
            <label for="issuing_agency" class="col-md-2">
                Orgão Emissor
            </label>
            <div class="col-md-9">
               <%= f.text_field :issuing_agency, placeholder: "Orgão Emissor", 
               class: "required", class: "form-control input-lg", maxlength: 11 %>
               <p class="help-block">
                    exemplo: SSPAC
                </p>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        <div>
            <label for="phone1" class="col-md-2">
                Telefone:
            </label>
            <div class="col-md-9">
              <%= f.text_field :phone1, placeholder:"Telefone", 
              class: "required",class: "form-control input-lg", maxlength: 11 %>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        <div>
            <label for="phone2" class="col-md-2">
                Telefone para recado:
            </label>
            <div class="col-md-9">
              <%= f.text_field :phone2, placeholder:"Telefone para recado", 
              class: "required",class: "form-control input-lg", maxlength: 11 %>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        <div>
            <label for="zip_code" class="col-md-2">
                CEP:
            </label>
            <div class="col-md-9">
              <%= f.text_field :zip_code, placeholder: "CEP",  
              class: "required", class: "form-control input-lg", maxlength: 8  %>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        <div>
            <label for="street" class="col-md-2">
                Rua:
            </label>
            <div class="col-md-9">
              <%= f.text_field :street, placeholder: "Nome da Rua",  
              class: "required", class: "form-control input-lg", maxlength: 8  %>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        <div>
            <label for="district" class="col-md-2">
                Bairro:
            </label>
        <div class="col-md-9">
              <%= f.text_field :district, placeholder: "Nome do bairro",  
              class: "required", class: "form-control input-lg", maxlength: 8  %>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

         <div>
            <label for="complement" class="col-md-2">
                Complemento:
            </label>
          <div class="col-md-9">
              <%= f.text_field :complement, placeholder: "ponto de referência, prédio, etc",  
              class: "required", class: "form-control input-lg", maxlength: 8  %>
            </div>
             <div class="col-md-1">
                <i class="fa fa-lock fa-2x"></i>
            </div>
        </div>

        


    </div> 
        <div class="right">
          <%= f.submit "Criar conta", class: "btn btn-default btn-medium btn-primary" %>
          <%= link_to "Cancelar", root_path, class: "btn btn-primary" %>
        </div>
  </div>
 <% end %>
</body>
