<h1> Criar Novo Usuário </h1>

<div class="row">
  <div class="col-lg-offset-3 col-sm-6 col-md-6">
    <%= form_for(@user) do |f| %>

      <%= render "errors" %>

      <%= f.text_field :name, placeholder:"Nome Completo",
       class: "required", class: "form-control input-lg" %>
      
      <%= f.text_field :email, placeholder:"Email", 
      class: "required", class: "form-control input-lg"  %>
     
      <%= f.text_field :cpf, placeholder:"CPF",  
      class: "required" , class: "form-control input-lg", maxlength: 11 %>

      <%= f.text_field :rg, placeholder:"RG",
      class: "required",class: "form-control input-lg", maxlength: 11 %>

      <%= f.text_field :issuing_agency, placeholder: "Orgao Emissor", 
      class: "required", class: "form-control input-lg", maxlength: 11 %>
  
      <%= f.text_field :phone1, placeholder:"Telefone", 
       class: "required",class: "form-control input-lg", maxlength: 11 %>

      <%= f.text_field :phone2, placeholder: "Telefone Alternativo", 
      class: "required" , class: "form-control input-lg",maxlength: 11 %>

      <%= f.text_field :zip_code, placeholder: "CEP",  
      class: "required", class: "form-control input-lg", maxlength: 8  %>

      <div class="center">
        <%= f.submit "Criar conta", class: "btn btn-default btn-medium btn-primary" %>
        <%= link_to "Cancelar", root_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
