<div class="row">
<%= render partial: "courses/doctors/menu", locals: { menu: @MENU_OPTIONS[:videos] } %>

  <div class="col-xs-6 col-sm-9">
    
    <%= link_to(new_video_path, class: "btn btn-default") do %>
      <%= content_tag(:span, "", class: "fa fa-plus") %>
      <%= "Adicionar novo Videos" %>
    <% end %>

    <br><br>

    <%= "Vídeos Disponíveis" %>

    <br><br>
    <ul class="fa-ul list-group">
      <% @resources.all.each do |video| %>
        <li class="list-group-item">
          <%= link_to content_tag(:span, "", class: "fa fa-trash-o"), video, method:"delete" , data: { confirm: "Tem certeza que deseja excluir permanentemente este documento? \nEssa ação não poderá ser desfeita." } %>
          <%= doc.description %>
        </li>
        <br>
      <% end %>
    </ul>
  </div>
</div>
