<div class="row">
  <div class="col-xs-6 col-sm-3">
    <%= link_to "#{@user.name}\n" %>
  </div>
  
  <div class="col-xs-6 col-sm-9">
    <div class="input-group">
      <%= link_to(new_course_path, class: "btn btn-default") do %>
        <%= content_tag(:span, "", class: "glyphicon glyphicon-plus") %>
        <%= "Criar novo Curso" %>
      <% end %>
    </div>

    <%= "Meus Cursos" %>
    
  </div>
</div>


